*{
    overflow-x: hidden;
    background-repeat: no-repeat;
  }
hr.new {
border-radius: 10px;
width: 200px;
border-top: 1px solid red;
}
hr.new1 {
border-radius: 10px;
width: 200px;
border-top: 1px solid red;
margin-top: -22px;
}

.about{
/* background-image: url("images/about_full.png"); */
background-repeat: no-repeat;
background-size: cover;
height: 1200px;
}

.navbox img{ 
margin-top: 15px;
}

.login{
margin-top: -30px;
margin-left: 30px;
}
/* CSS */
.button-34 {
background: #5E5DF0;
border-radius: 999px;
box-shadow: #5E5DF0 0 10px 20px -10px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;
font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 24px;
opacity: 1;
height: 50px;
outline: 0 solid transparent;
padding: 8px 18px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: fit-content;
word-break: break-word;
border: 0;
}

Link{
position: relative;
}
Link::before{
content: "";
position: absolute;
bottom: -3px;
left: 0;
height: 5px;
width: 100%;
transition: 0.3s;
border-radius: 25px;
transform: scaleX(0);
background: #000c2c; 

}

Link:hover::before{ 
transform: scaleX(1);

}

.abtimg{
  margin-left: 200px;
}

.abtimg img{
  margin-top: 300px;
}

.abttxt{
  color: blue;
  font-weight:900;
  margin-top: -700px;
  margin-left: 800px;

}

#pastsection{
    
}

.pastbg{
  margin-top: -500px;
}


.sponsorsection{
  background-image: url("images/sponsors_web.png");
  height: 1300px;
  background-repeat:no-repeat;
  margin-top: -10px;
}
.sponsorbox{
  margin-left: 200px;
  width: 1500px;
  height: 150px;

}

.sponsorbox1{
  margin-left: 200px;
  width: 1500px;
  height: 220px;
  border: 5px solid gray;
}

.sponsortxt{
  color: rgb(0, 0, 0);
  font-size: 23px;
  margin-left: 210px;
  margin-top: -213px;
  background-color: white;
  height: 210px;
  width: 1280px;

}